@import 'window';

$ssh-window-color: lightgrey;
$ssh-border-color: blue;

.ssh-window {
    @include window(url("../ssh-icon.png"), $ssh-border-color, $ssh-window-color, 50em, 35em);
}

.ssh-window__info {
    color: darkred;
    text-align: center;
    
    &::before {
        content: "== ";
    }
    &::after {
        content: " ==";
    }
}

.ssh-window__controls {
    position: absolute;
    bottom: 1em;
    right: 1em;
    
    a {
        color: grey;
    }
}